.idea/**
.cache/**
.clj-kondo/**
.calva/**
.lsp/sqlite.5.db
.lsp/sqlite.db
namespaces.old/ns1.clj
namespaces.old/ns2.clj
.DS_Store
src/http/ENV.clj
src/http/.DS_Store
target/**
heapdump.20210216.081338.12512.0002.phd
javacore.20210216.081338.12512.0003.txt
doc.pdf
clj.code-workspace
.nrepl-port
.lsp/.cache/data.mdb
.lsp/.cache/lock.mdb
.lsp/.cache/sqlite.db
resources-dev/public/test.txt
resources-dev/public/test2.txt
resources-dev/public/test3.html
resources-dev/public/folder1/t1.txt
resources-dev/public/folder1/t2.txt
.lsp/.cache/db.transit.json
heapdump.*
javacore.*
Snap.*
.lein/*
src/.calva/output-window/output.calva-repl
src/.clj-kondo/.cache/v1/lock
src/.lsp/.cache/db.transit.json
src/tools/NextVideo/$$DATASTORE$$
.openvscode-server/*
